{% extends "layout.twig" %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="modal-body">

                <form action="/action/edit" onsubmit="formSubmit();return false;" autocomplete="off">
                    <input type="hidden" name="id" value="{{ id }}">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ job.name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="interval" class="form-label">Interval (seconds)</label>
                        <input type="number" class="form-control" id="interval" name="interval" min="0"
                               value="{{ job.interval }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="link" class="form-label">Link</label>
                        <input type="url" class="form-control" id="link" name="link" value="{{ cron.url }}" required>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="advancedReq" name="advancedReq" value="on"
                               {% if advancedReq %}checked{% endif %}>
                        <label class="form-check-label" for="advancedReq">
                            Advanced Request
                        </label>
                    </div>
                    <div id="fieldReq" style="display: none">
                        <div class="mb-3">
                            <label for="method" class="form-label">Method</label>
                            <select name="method" id="method" class="form-control">
                                <option {% if cron.method == "GET"  %}selected{% endif %}>GET</option>
                                <option {% if cron.method == "POST"  %}selected{% endif %}>POST</option>
                                <option {% if cron.method == "PUT"  %}selected{% endif %}>PUT</option>
                                <option {% if cron.method == "PATCH"  %}selected{% endif %}>PATCH</option>
                                <option {% if cron.method == "DELETE" %}selected{% endif %}>DELETE</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="config" class="form-label">Config for Axios</label>
                            <textarea name="config" id="config" cols="30" rows="7" class="form-control">{{ config }}</textarea>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="advancedRes"
                               {% if advancedRes %}checked{% endif %}>
                        <label class="form-check-label" for="advancedRes">
                            Advanced Response
                        </label>
                    </div>
                    <div id="fieldRes" style="display: none">
                        <div class="mb-3">
                            <label for="response" class="form-label">If response that:</label>
                            <textarea name="response" id="response" cols="30" rows="7" class="form-control">{{ cron.response }}</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="intervalRes" class="form-label">Set interval that:</label>
                            <input type="number" class="form-control" id="intervalRes" name="intervalRes" min="0" value="{{ cron.intervalRes }}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% include 'form-script.twig' %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const advancedReq = document.querySelector("#advancedReq");
            const fieldReq = document.querySelector("#fieldReq");
            const advancedRes = document.querySelector("#advancedRes");
            const fieldRes = document.querySelector("#fieldRes");
            const toggleReq = () => toggleVisibility(advancedReq.checked, fieldReq);
            const toggleRes = () => toggleVisibility(advancedRes.checked, fieldRes);
            advancedReq.addEventListener("click", () => {
                toggleReq();
            });
            advancedRes.addEventListener("click", () => {
                toggleRes();
            });
            toggleReq();
            toggleRes();
        });
    </script>
{% endblock %}

