{% extends 'layout.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header d-flex justify-content-end">
            <a href="/watch" class="btn btn-dark"><i class="fas fa-eye"></i> Watch
            </a>
            <button data-bs-toggle="modal" data-bs-target="#modalAdd" class="btn btn-primary"><i
                        class="fas fa-plus"></i> Add
            </button>
        </div>
        <div class="table-responsive">
            <table class="card-body table table-hover table-fluid">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Interval</th>
                    <th scope="col">Last Run</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>{{ job.name }}</td>
                        <td>{{ job.interval }}</td>
                        <td class="time" data-time="{{ job.file }}">{{ job.run }}</td>
                        <td>
                            {% if job.enabled %}
                                <a href="/action/status/disabled?id={{ job.id }}" class="btn btn-sm btn-warning"
                                   title="Stop"><i
                                            class="fas fa-pause"></i></a>
                            {% else %}
                                <a href="/action/status/enabled?id={{ job.id }}" class="btn btn-sm btn-success"
                                   title="Start"><i
                                            class="fas fa-play"></i></a>
                            {% endif %}
                            <a href="/edit?id={{ job.id }}" class="btn btn-sm btn-info" title="Edit"><i
                                        class="fas fa-edit"></i></a>
                            <button class="btn btn-sm btn-danger" title="Remove" onclick="deleteJob('{{ job.id }}')"><i
                                        class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-header d-flex justify-content-end">
            <a href="/auth/logout" class="btn"><i class="fas fa-sign-out"></i> Logout</a>
        </div>
    </div>
{% endblock %}

{% block foot %}
    {% include 'add.twig' %}
{% endblock %}

{% block script %}
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <script>
        function deleteJob(id) {
            if (confirm("Are you sure?"))
                window.location = "/action/delete?id=" + id;
        }

        function convertTimes(times) {
            times.forEach(time => {
                time.textContent = new Date(parseInt(time.textContent)).toLocaleString();
            });
        }

        document.addEventListener("DOMContentLoaded", () => {
            convertTimes(document.querySelectorAll(".time"));
        });

        try {
            const socket = io(":{{ SOCKET_PORT }}", {extraHeaders: {"x-auth": "{{ SOCKET_AUTH }}"}});
            socket.on("time", (msg) => {
                const elem = document.querySelector("td[data-time='" + msg.file + "']");
                elem.textContent = msg.time;
                convertTimes([elem]);
            });
        } catch (err) {
            showToast("danger", "Server error!");
        }
    </script>
{% endblock %}


